<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="revenue-details-form">
  <div class="form-row">
    <label for="issuedWrp">Issued WRP</label>
    <input id="issuedWrp" name="issuedWrp" [(ngModel)]="model.IssuedWrp" type="date" />
  </div>
  <div class="form-row">
    <label for="totalRevenue">Total Revenue %</label>
    <input id="totalRevenue" name="totalRevenue" [(ngModel)]="model.TotalRevenue" type="date" />
  </div>
  <div class="form-row">
    <label for="base">Base %</label>
    <input id="base" name="base" [(ngModel)]="model.Base" type="text" />
  </div>
  <div class="form-row">
    <label for="pc">PC %</label>
    <input id="pc" name="pc" [(ngModel)]="model.Pc" type="text" />
  </div>
  <div class="form-row">
    <label for="bc50">BC* 50%</label>
    <input id="bc50" name="bc50" [(ngModel)]="model.Bc50" type="text" />
  </div>
  <div class="form-row">
    <label for="orc">ORC%</label>
    <input id="orc" name="orc" [(ngModel)]="model.Orc" type="text" />
  </div>
  <div class="form-row">
    <label for="contest">Contest%</label>
    <input id="contest" name="contest" [(ngModel)]="model.Contest" type="text" />
  </div>
  <div class="form-row">
    <label for="pli">PLI %</label>
    <input id="pli" name="pli" [(ngModel)]="model.Pli" type="text" />
  </div>
  <div class="form-row">
    <label for="totalCommAmt">Total Comm Amt</label>
    <input id="totalCommAmt" name="totalCommAmt" [(ngModel)]="model.TotalCommAmt" type="date" />
  </div>
  <div class="form-row">
    <label for="totalCommissionReceived">Total Commission Received</label>
    <input id="totalCommissionReceived" name="totalCommissionReceived" [(ngModel)]="model.TotalCommissionReceived" type="date" />
  </div>
  <div class="actions">
    <button type="button" (click)="emitChange()">Apply</button>
    <button type="submit">Save</button>
  </div>
</form>