<app-sourcing-details></app-sourcing-details>
<app-proposer-details></app-proposer-details>
<app-life-assured></app-life-assured>
<app-nominee></app-nominee>
<app-appointee></app-appointee>
<app-policy-login-or-issuence-detail></app-policy-login-or-issuence-detail>
<app-plan-and-premium-details></app-plan-and-premium-details>
<app-revenue-details></app-revenue-details>
<app-base-details></app-base-details>
<app-pc-details></app-pc-details>
<app-fiftypercent-of-bc-details></app-fiftypercent-of-bc-details>
<app-other-amount-details></app-other-amount-details>
<app-final-details></app-final-details>
<app-gst-details></app-gst-details>
<app-payout-details></app-payout-details>